script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
link(rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css")
link(rel="stylesheet" type="text/css" href="/stylesheets/responsive-semantic-ui.css")
script(src="/javascripts/semantic.min.js")