#video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
    top: 0%;
    z-index: -1;
}

#loginContainer{
    margin: auto;
    width: 80vw;
    min-width: 350px;
    position: relative;
    top: 0%;
    left: auto;
}

#login{
    opacity: 100%;
}

#loginText{
    font-size: 400%;
    font-weight: bold;
    color:white;
}

#loginTextDiv{
    min-width: 250px;
}

