#main-container{
    width: 90%;
    max-width: 1500px;
    max-height: 90%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5%;
}

#card-picture{
    min-width: 100%;
    max-height: 30vh;
    object-fit: cover;
}

#zindex{
    z-index: 0;
}