.visibility.example .overlay {
	background-color: #ffffff;
	padding: 0em;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: all 0.5s ease;
	background: transparent;
}
/* change style */
.visibility.example .fixed.overlay {
	position: fixed;
	padding: 1em;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.sticky.title-bar {
	z-index: 1000;
}
