@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
		0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
	fill: rgba(0, 0, 0, 0.54);
	--ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Noticia Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
	font-family: "Noticia Text", "Raleway", sans-serif;
	padding: 0;
	margin: 0;
	color: #171124;
}

p {
	color: #171124;
}

h1 {
	font-size: 40px;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

#root {
	display: flex;
	flex-direction: column;
}

.View {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	height: 100%;
	width: 100%;

	padding: 20px;

	background-size: cover;

	font-family: "Noticia Text", "Merriweather Sans", sans-serif;
}

.Banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 40%;
	height: 10%;

	border-radius: 5px;

	overflow: hidden;
	background: #f5f4d3;
	padding: 15px;

	font-family: "Noticia Text", "Share Tech Mono", monospace;

	border-bottom: var(--ui-shadow-border);
	box-shadow: var(--ui-shadow);
}

.Message {
	background: #f5f4d3;
	padding: 5%;
	border-bottom: var(--ui-shadow-border);
	box-shadow: var(--ui-shadow);
}

.Message > .Title {
	padding-bottom: 20px;
}

.Message > .Details {
	display: flex;
	flex-direction: column;
	line-height: 1.5em;
}

.NavButtons {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
}

.NavButton {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 55px;
	width: 150px;

	background: #7a75a9;

	border-radius: 30px;

	font-size: 16px;
	font-weight: bold;
	color: white;

	text-transform: capitalize;

	border-bottom: var(--ui-shadow-border);
	box-shadow: var(--ui-shadow);
}

.WelcomeView {
	background: url("../images/startBackgroundLoghouse.jpg") left bottom;
	background-size: cover;
}

.UserView {
	background: url("../images/food.jpg") left bottom;
	background-size: cover;
}
