.section-input {
	resize: none !important;
}

.editable {
	cursor: pointer;
}

/* FIXME Fuck naming xD */
.hide-element {
	display: none !important;
}

.section-text {
	white-space: pre-wrap;
}

.all-content {
	hyphens: auto;
}
