extends layout 

block layout-content

    div.ui.container

        div.ui.basic.segment
            h2 Your discovered stories!

        div.ui.segment
            div.ui.divided.items
                each val in allDocumentStubs
                    div.item  
                        div.image
                            img(src="https://picsum.photos/500")
                        div.content
                            a.header(href=`/reader/read?document=${val.id}`) #{val.title}
                            span.ui.text <br/> Location: #{val.location_name}
                            div.meta
                                span Description
                            div.description 
                                p(style="white-space: pre-wrap;")= val.summary
                            div.extra Current chapters: #{val.section_count}
                            div.extra
                              - num = Math.floor(Math.random() * 5 + 1)
                                div.ui.label Horror
                                div.ui.label Sci-Fi
                                if num >= 3
                                  div.ui.label Funny
                                if num >= 4
                                  div.ui.label Cursed
