extends layout

block extra-head
  script(src = "/javascripts/login_portal.js")
  link(rel="stylesheet", href="/stylesheets/login.css")

block layout-content
  video(autoplay muted, loop)#video
    source(src="/videos/start_video.mp4" type="video/mp4", id="theVideo")
  div.ui.basic.segment#loginContainer
    div.ui.centered.stackable.grid
      div.ten.wide.column
        div.ui.basic.fitted.segment#loginTextDiv
          span.ui.text#loginText The first storytelling platform that brings you to the story!
      div.six.wide.column
        div.ui.segment#login
          span.ui.big.text Login
          div.ui.form
            div.field
              label(for="") Username
              input(type="text" name="username" placeholder="Username")
            div.field
              label(for="") Password
              input(type="text" name="password" placeholder="Password")
            div.field
              div.inline.field 
                div.ui.slider.checkbox 
                  input(type="checkbox" tabindex="0" class="hidden")
                  label Keep me signed in
              a(href="/menu")
                    button.ui.big.button.primary Login
              a(href="/menu")
                    button.ui.right.floated.big.button.primary Sign up

