block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/logo.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | StoryCache
    link(rel="stylesheet" href="/stylesheets/style.css")
    include semantic/semantic.pug
    script(src = "/javascripts/title_bar.js")
    block extra-head
  body
    div#root
      div.ui.large.top.fixed.inverted.menu.transition.hidden#title-bar-hidden
        div.ui.centered.grid.text.container
          div.column
            div.ui.basic.segment
              a(href = "/menu").ui.centered.small.image
                img(src = "/images/logo_text.png")
      div.ui.text.container#title-bar
        div.ui.basic.segment
          a(href = "/menu").ui.centered.small.image
            img(src = "/images/logo_text-dark.png")
      
      block layout-content