extends layout

block extra-head
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
  script(src = "/javascripts/menu-map.js")
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
  link(rel="stylesheet", href="/stylesheets/menu.css")

block layout-content
  div.ui.stackable.grid.container
    div.sixteen.wide.column#zindex
      div.fluid(style="height: 45vh; border-radius: 4px;")#map
    div.six.wide.column
        div.ui.fluid.card#profile_card
          div.blurring.dimmable.image
            div.ui.dimmer
              div.content
                div.center
                  div.ui.inverted.button Edit profile
            image(src="images/person.jpg")#card-picture
          div.content
            div.header Marcelo Weissberg
            div.meta 
              p Graphics Designer @ Google
            div.description My name is Marcelo and I am interested in everything from storytelling to 3D rendering.
          div.extra.content
            span.right.floated Joined Feb. 2021
            span
              i.user.icon
              span 84 Follower
    div.ten.wide.column
      div.ui.basic.fitted.segment
        a.massive.fluid.ui.animated.fade.primary.button(href="/documentOverview" tabindex="0")
          div.visible.content My Stories
          em.hidden.content(data-emoji="books")
      div.ui.basic.fitted.segment
        a.massive.fluid.ui.animated.fade.primary.button(href="/writer/new" tabindex="0")
          div.visible.content Start a new story
          em.hidden.content(data-emoji="writing_hand")
  
  