extends layout

block layout-content
  div.ui.text.container
    div.ui.yellow.segment 
      h2 #{ title }
      h4 #{ section_title }
      each s in section.contents
        div.ui.basic.fitted.segment
          span(style="white-space: pre-wrap;") #{s.text}
    
    // Bigger than mobile -> show all controls
    div.ui.equal.width.grid
      div.mobile.hidden.row
        div.left.floated.left.aligned.column
          if indices.prev >= 0
            a(href = `/reader/read?document=${document}&section=${indices.prev}`).ui.big.primary.button <-
          else
              button.ui.big.primary.disabled.button <-
        div.eight.wide.centered.column
          a(href=`/writer/?document=${document}`).ui.big.primary.fluid.button Edit
        div.right.floated.right.aligned.column
          if indices.next >= 0
            // TODO figure out theming
            a(href = `/reader/read?document=${document}&section=${indices.next}`).ui.big.primary.button ->
          else
              button.ui.big.primary.disabled.button ->

      // Mobile -> Show condensed controls
      // div.ui.mobile.only.grid
      div.mobile.only.centered.row
        a(href=`/writer/?document=${document}`).ui.big.primary.button Edit
      div.four.column.mobile.only.centered.row
        div.ui.buttons
          if indices.prev >= 0
            a(href = `/reader/read?document=${document}&section=${indices.prev}`).ui.big.primary.button <-
          else
            button.ui.big.primary.disabled.button <-
          if indices.next >= 0
            // TODO figure out theming
            a(href = `/reader/read?document=${document}&section=${indices.next}`).ui.big.primary.button ->
          else
            button.ui.big.primary.disabled.button ->
